.d-flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-end {
    justify-content: end;
}

.btn-default {
    background: transparent;
    color: rgb(58, 57, 78);
    font-weight: 500;
    margin-inline-end: 1.5rem;
    font-size: 1.15rem;
    letter-spacing: 0.5px;
    outline: none;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 320ms;
}

.btn-default:hover {
    color: rgb(31, 31, 39);
}